body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #111;
    background-color: #FEFEFE;
}

#header {
    padding: 10px 30px;
    background-color: #FFF;
    width: 100%;
}

#nav-bar {
    display: flex;
    background-color: #A9DBD7;
    border-top: 1px solid #87ADAA;
    border-bottom: 1px solid #87ADAA;
    margin: 0px 0px 15px 0px;
    box-shadow: 0px 5px 10px #EEE;
}

#nav-bar a {
    text-decoration: none;
    color: #111;
    padding: 10px;
}

.links {
    width: 7%;
    height: 100%;
    text-align: center;
}

a.links:hover {
    background-color: #507A77;
    color: white !important;
}

#content {
    padding: 0px 20px;
}

#s1-image {
    padding: 10px 30px 10px 10px;
}

#s1-image img {
    width: 250px;
    border: 4px solid black;
}

#s2-image {
    padding: 10px 10px 10px 30px;
}

#s2-image img {
    width: 300px;
    border: 4px solid black;
}

.section {
    padding: 10px;
    display: flex;
}

hr {
    margin-top:-10px;
}

h2 {
    color: #2F4F4D;
}